@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900;8..144,1000&display=swap');


:root {
    --main-background-color: #303030;
    --main-frosted-background-color: rgba(30, 30, 30, 0.35);
    --button-font: 'Roboto Flex', sans-serif;
    --body-font: 'Poppins', sans-serif;
    --font-color: #fafafa;
    --main-accent-color: rgb(148, 183, 149);
    --correct-answer-color: rgb(148, 183, 149, 0.5);
    --incorrect-answer-color: rgb(230, 100, 100, 0.5);
    --secondary-accent-color: rgb(230, 238, 224);
}

body {
    background-color: var(--main-background-color);
    color: #fff;
    font-family: var(--body-font);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    min-height: 100vh;

}

#title {
    width: 100%;
    display: grid;
    place-items: center;
    margin-bottom: 1rem;
}

#logo {
    margin: 0 auto;
    max-width: 100%;
    padding: 0;
    width: 40rem;
}

#subTitle {
    margin-bottom: 1rem;
    font-size: 2rem;
}

#introScreen {
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    z-index: 3;
}

#introScreen.closed {
    animation: fadeOutAndShrink 1.5s ease-in-out forwards;

}

#playButton {
    background-color: var(--main-accent-color);
    border: none;
    width: 20rem;
    height: 5rem;
    display: grid;
    place-items: center;
    font-size: 3.5rem;
    cursor: pointer;
    font-family: var(--button-font);
    border-radius: 5rem;
    transition: all 0.2s ease-in-out;
}

#playButton:hover {
    filter: brightness(1.25);
    transform: scale(1.05);
}

#headerLogo {
    height: max(80%, 2rem);
    margin-right: min(2rem, 2vw);
    margin-left: 0.2rem;
}

#gameHeader {
    height: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0.25rem;
}


@keyframes fadeOutAndShrink {
    to {
        opacity: 0;
        transform: scale(0);
    }
}


#game {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;

}

#progressBar {
    width: 100vw;
    height: 2rem;
    position: fixed;
    bottom: 0;
    border-top: solid .1rem var(--font-color);
    z-index: 1;

}


#game.hidden {
    opacity: 0;
    pointer-events: none;
}

.answer {
    width: 100%;
    height: 100%;
    display: grid;
    cursor: pointer;
    border: solid .1rem var(--font-color);
    text-align: center;
    place-items: center;
    font-size: 2.5rem;
    background-color: var(--main-frosted-background-color);
    -webkit-backdrop-filter: blur(15px);
    transition: all 0.25s ease-in-out;
}

.answers {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    font-weight: bold;
    font-size: 1.5rem;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.answer:hover {
    -webkit-backdrop-filter: blur(50px);

}

.question.answered .answer {
    cursor: not-allowed;
    -webkit-backdrop-filter: blur(15px);
}

.question {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: calc(100% - 5rem);
    width: 100%;

}

.questionBackgroundImage {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 200vw;
    height: 200vh;
    z-index: -1;
    transform: translate(-50%, -50%);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(25px);
    animation: backgroundImageAnimation 100s ease-in-out forwards infinite;
}

@keyframes backgroundImageAnimation {
    0% {
        transform: translate(-50%, -50%);
    }

    25% {
        transform: translate(-60%, -50%);
    }

    50% {
        transform: translate(-40%, -60%);
    }

    75% {
        transform: translate(-60%, -40%);
    }



    100% {
        transform: translate(-50%, -50%);
    }
}

.questionImage {
    max-height: 30rem;
    box-shadow: 0 0 1rem 0.25rem rgba(0, 0, 0, 0.35);
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-width: 100%;
}

#questionsContainer {
    z-index: 2;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.questionLabel {
    display: grid;
    place-items: center;
    border-right: solid .1rem var(--font-color);
    border-left: solid .1rem var(--font-color);
    background-color: var(--main-frosted-background-color);
    -webkit-backdrop-filter: blur(15px);
    border-collapse: collapse;
    height: 100%;
    width: 100%;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
}

.questionLabel.active {
    outline: solid white 0.15rem;
    z-index: 1;
    border-bottom: solid 0.5rem var(--font-color);
    height: calc(100% - 0.5rem);
    position: relative;
}

.questionLabel:hover:not(.active) {
    border-bottom: solid 0.25rem var(--font-color);
    height: calc(100% - 0.25rem);
    -webkit-backdrop-filter: blur(50px);
}

.question.hidden {
    display: none;
}

::-webkit-scrollbar {
    width: 0;
    /* Remove scrollbar space */
    background: transparent;

    display: none;
}


#endGameScreen {
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    background: var(--main-background-color);
}

#endGameScreen.closed {
    display: none;
}

#endGameScreenTitle {
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 0.1rem;
    font-family: var(--button-font);
}

#endGameScreenScoreContainer {
    font-size: 3.5rem;
    font-weight: 200;
    margin-bottom: 0.5rem;

}

.questionHeader {
    font-size: 2.5rem;
    margin-top: 0.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    text-shadow: rgba(0, 0, 0, 0.55) 0 0 1rem;
    font-family: var(--button-font);
    white-space: nowrap;

}


.correctAnswer {
    background-color: var(--correct-answer-color);
}

.incorrectAnswer {
    background-color: var(--incorrect-answer-color);
}

#nextButtonContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

#nextButton {
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: 1rem;
    height: 100%;
    padding-right: 1rem;
    white-space: nowrap;
    padding-left: 1rem;
    font-weight: bold;
    font-family: var(--button-font);
    background-color: var(--main-accent-color);
    transition: all 0.25s ease-in-out;
    clip-path: polygon(0% 0%, 100% 0, 100% 50%, 100% 100%, 0% 100%);
    margin-right: 0.1rem;
    margin-left: 0.5rem;
}

#nextButton:hover {
    clip-path: polygon(0% 0%, 95% 0, 100% 50%, 95% 100%, 0% 100%);
}

#nextButton.hidden {
    display: none;
}

@media screen and (max-width: 800px) {
    :root {
        font-size: 12px;
    }
}